@if (isFormList(field())) {
<app-accordion [title]="field().label" #accordion>
    @for (control of controls; track control) {
    <div class="subform">
        @for (child of asFormList(field()).fields; track child.id) {
        @if (child.type === 'subForm') {
        <app-subform [field]="asFormList(child)" [form]="asFormGroup(control)">
        </app-subform>
        } @else {
        <app-text-box [field]="asFormInput(child)" [form]="asFormGroup(control)">
        </app-text-box>
        }
        }
    </div>
    }
</app-accordion>
} @else {
<app-text-box [field]="asFormInput(field())" [form]="form()">
</app-text-box>
}