<div class="multi-upload-wrapper">
  @for (set of fileSets(); track set.documentId) {
    <div class="file-set">
      <div class="set-header">
        <h3>{{ set.documentName }}</h3>
        <button (click)="openUploadModal(set)" class="add-files-btn">
          Manage Files ({{ set.files?.length ?? 0 }})
        </button>
      </div>

      <div class="files-grid">
        @for (file of set.files; track file.sn) {
          <div class="file-item">
            <div class="serial-number">{{ file.sn }}</div>
            <div class="file-icon">
              <span class="material-symbols-outlined">insert_drive_file</span>
            </div>
            <div class="file-name">{{ file.fileName }}</div>
            <button (click)="removeFile(file.sn, set.documentId)" class="remove-file-btn">X</button>
          </div>
        }
      </div>
    </div>
  }
</div>